<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ProjetSAR/src/dynamic/DynamicProductServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dynamic.DynamicProductServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ProjetSAR"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.security.policy=bin\server\server.policy &#13;&#10;-Djava.rmi.server.codebase=file://bin/client/"/>
</launchConfiguration>
