<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ProjetSAR/src/server/ProduitServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="server.ProduitServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ProjetSAR"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.security.policy=C:\Users\ghass\OneDrive\Bureau\OneRelease\openxava-6.2.1\workspace\ProjetSAR\src\server\server.policy"/>
</launchConfiguration>
